table(border='1', height='100px')
	tr
		th #N
		th ID
		th	User Name
		th	Points
		th	Level
		th	Photo
		th Visits Log
	- for (var index in users)
		tr(id='#{parseInt(index) + 1}')
			td
				a.drop(href='#') #{parseInt(index) + 1}
			td #{users[index]._id}
			td #{users[index].username}
			td #{users[index].points}
			td #{users[index].level}
			td
				img(src='#{users[index].photo}',alt='Profile Photo')
			td
				a.history(href='#history',data-id='#{users[index]._id}', title='#{users[index].username}') #{users[index].username} vistis
#history
			